In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn import datasets
from sklearn.model_selection import train_test_split , KFold
from sklearn.preprocessing import Normalizer
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

from collections import Counter

In [2]:
airsat=pd.read_csv('AirlineSatisfationData.csv')
airsat

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,25971,78463,Male,disloyal Customer,34,Business travel,Business,526,3,3,...,4,3,2,4,4,5,4,0,0.0,neutral or dissatisfied
25972,25972,71167,Male,Loyal Customer,23,Business travel,Business,646,4,4,...,4,4,5,5,5,5,4,0,0.0,satisfied
25973,25973,37675,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,...,2,4,3,4,5,4,2,0,0.0,neutral or dissatisfied
25974,25974,90086,Male,Loyal Customer,14,Business travel,Business,1127,3,3,...,4,3,2,5,4,5,4,0,0.0,satisfied
25975,25975,34799,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,...,1,1,2,1,1,1,1,0,0.0,neutral or dissatisfied

In [14]:
#Removing unusable data
airsat.drop(['id','Gate location','Food and drink','Online boarding','Leg room service','Baggage handling','Cleanliness'],axis=1,inplace=True)
airsat

,Unnamed: 0,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Seat comfort,Inflight entertainment,On-board service,Checkin service,Inflight service,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,3,5,5,2,5,50,44.0,satisfied
1,1,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,5,4,4,3,4,0,0.0,satisfied
2,2,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,2,2,4,2,2,0,0.0,neutral or dissatisfied
3,3,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,4,1,1,3,1,0,6.0,satisfied
4,4,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,2,2,2,4,2,0,20.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,25971,Male,disloyal Customer,34,Business travel,Business,526,3,3,3,4,4,3,4,5,0,0.0,neutral or dissatisfied
25972,25972,Male,Loyal Customer,23,Business travel,Business,646,4,4,4,4,4,4,5,5,0,0.0,satisfied
25973,25973,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,1,2,2,4,5,4,0,0.0,neutral or dissatisfied
25974,25974,Male,Loyal Customer,14,Business travel,Business,1127,3,3,3,4,4,3,4,5,0,0.0,satisfied
25975,25975,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,2,2,1,1,1,1,0,0.0,neutral or dissatisfied

In [20]:
#renaming the datatypes to make it easier to read
airsat.rename(columns={'Customer Type':'CustomerType',
'Type of Travel':'TravelType',
'Flight Distance':'Distance',
'Inflight wifi service':'WifiQuality',
'Departure/Arrival time convenient':'TimeConvenience',
'Ease of Online booking':'BookingQuality',
'Seat comfort':'SeatQuality',
'Inflight entertainment':'EntertainmentQuality',
'On-board service':'OnboardServiceQuality',
'Checkin service':'CheckinQuality',
'Inflight service':'InflightServiceQuality',
'Departure Delay in Minutes':'DepartureDelayMIN',
'Arrival Delay in Minutes':'ArrivalDelayMIN',
'satisfaction':'Satisfaction',
})

,Unnamed: 0,Gender,CustomerType,Age,TravelType,Class,Distance,WifiQuality,TimeConvenience,BookingQuality,SeatQuality,EntertainmentQuality,OnboardServiceQuality,CheckinQuality,InflightServiceQuality,DepartureDelayMIN,ArrivalDelayMIN,Satisfaction
0,0,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,3,5,5,2,5,50,44.0,satisfied
1,1,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,5,4,4,3,4,0,0.0,satisfied
2,2,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,2,2,4,2,2,0,0.0,neutral or dissatisfied
3,3,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,4,1,1,3,1,0,6.0,satisfied
4,4,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,2,2,2,4,2,0,20.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,25971,Male,disloyal Customer,34,Business travel,Business,526,3,3,3,4,4,3,4,5,0,0.0,neutral or dissatisfied
25972,25972,Male,Loyal Customer,23,Business travel,Business,646,4,4,4,4,4,4,5,5,0,0.0,satisfied
25973,25973,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,1,2,2,4,5,4,0,0.0,neutral or dissatisfied
25974,25974,Male,Loyal Customer,14,Business travel,Business,1127,3,3,3,4,4,3,4,5,0,0.0,satisfied
25975,25975,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,2,2,1,1,1,1,0,0.0,neutral or dissatisfied

In [25]:
print(airsat['Type of Travel'].value_counts())

Business travel    18038
Personal Travel     7938
Name: Type of Travel, dtype: int64

In [27]:
def TravelType_into_num(x):
        if x=='Business travel': return 0
        if x=='Personal Travel': return 1

In [32]:
from sklearn import preprocessing
x=airsat['Type of Travel'].apply(TravelType_into_num)
x=x.values.reshape(-1,1)
y=airsat['Flight Distance']

In [33]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [34]:
#Import knearest neighbors Classifier model
from sklearn.neighbors import KNeighborsClassifier

#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=5)

#Train the model using the training sets
knn.fit(x_train, y_train)

#Predict the response for test dataset
y_pred = knn.predict(x_test)

In [35]:
knn.score(x_test, y_test)

0.0005132811497497754